<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/paginasLogReg.css">
    <%- include('../partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('../partials/navegacion') %>
    <%- include('../partials/hamburguesa') %>
    <section id="principal-signup" class="pags-logreg">
      <div class="form-signin">
        <%= message %>
        <form action="/signup" method="POST">
          <h1>Register</h1>
          <p>¿Ya tienes cuenta?<a href="/signin"> ¡Logueate!</a></p>
          <div id="inputs">
            <div class="div-inputs">
              <label for="fullname">Fullname</label>            
              <input type="text" name="fullname" placeholder="Fullname">
            </div>
            <div class="div-inputs">
              <label for="username">Username</label>            
            <input type="text" name="username" placeholder="Username">
            </div>
            <div class="div-inputs">
              <label for="email">Email</label>            
              <input type="text" name="email" placeholder="Email">
            </div>
            <div class="div-inputs">
              <label for="password">Password</label>            
            <input type="password" name="password" placeholder="Password">
            </div>
            

          </div>
          <button>Registrarse</button>
          <div>
            <img src="https://cdn3d.iconscout.com/3d/premium/thumb/qr-code-scan-4065262-3361717.png" alt="">
          </div>
      </form>
    </div>
    <div id="segunda-parte-signin">
    </div>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
