<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/paginasLogReg.css">

    <%- include('../partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('../partials/navegacion') %>
    <%- include('../partials/hamburguesa') %>
    <section id="principal-signin" class="pags-logreg">
      <div class="form-signin">
        <form action="/signin" method="POST">
          <p id="mensaje"><%= message %></p>
          <h1>Login</h1>
          <p>¿No tienes cuenta?<a draggable="false" href="/signup"> ¡Registrate gratis!</a></p>
          <div id="inputs">
            <div class="div-inputs">
              <label for="username">Username</label>            
              <input type="text" name="username" placeholder="Username">
            </div>
            <div class="div-inputs">
              <label for="password">Password</label>            
            <input type="password" name="password" placeholder="Password">
            </div>
            

          </div>
          <button>Acceder</button>
          <div id="div-imagen">
            <img draggable="false" src="https://cdn3d.iconscout.com/3d/premium/thumb/qr-code-scan-4065262-3361717.png" alt="">
          </div>
      </form>
    </div>
    <div id="segunda-parte-signin">
    </div>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
