<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('partials/navegacion') %>
    <section id="principal">
      
      <div class="info-bots">
        <div id="frases">
          <h1>Genera de manera<br> sencilla códigos QR.</h1>
          <p>Convierte tu información en un código QR en un abrir y cerrar de ojos. <br>¡Haz que tus mensajes lleguen directo al objetivo!</p>
          <div>
            <a href="generate-qr"><button class="custom">Crear Code QR</button></a>
          </div>
        </div>
        <%- include('partials/botones') %>
      </div>

      <div id="ejemplos-codigosqr" class="info-codigos">
        <h1>Información</h1>
        <p>¡Genera códigos QR personalizados con la mayor calidad posible!</p>
        <div id="ejemplos-normales">
          <h1>Codigos QR normales hechos:</h1>
            <div class="div-codigosqr">
              <% qrnormales.forEach(item => { %>
                <img src="<%= item.codigoqrURL %>" draggable="false" alt="">
                <% }); %>
            </div>
        </div>
        <div id="ejemplos-custom">
          <h1>Codigos QR custom hechos:</h1>
            <div class="div-codigosqr" id="codigos-custom">
              <% qrcustom.forEach(item => { %>
                <img src="<%= item.codigoqrURL %>" draggable="false" alt="">
                <% }); %>
            </div>
        </div>
      </div>

    </section>
    <%- include('partials/footer') %>
  </body>
</html>

