<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <%- include('partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('partials/navegacion') %>
    <%- include('partials/hamburguesa') %>

    <section id="principal">
      
      <div class="info-bots">
        <div id="frases">          
          <h1 class="">Selecciona el tipo de codigo QR que quieres generar!</h1>
        </div>
        <%- include('partials/botones') %>
      </div>
      
    </section>
    <%- (include('partials/footer')) %>
  </body>
</html>
