<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/qrcustom.css">
    <link rel="stylesheet" href="/stylesheets/hamburguesa.css">
    <link rel="icon" href="/images/favicon3.png" type="image/png">
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('partials/navegacion') %>
    <%- include('partials/hamburguesa') %>
    <section id="prin-qrcustom">
        <div id="div-qrcustom">
          <div id="textos">
            <h1>¡Gracias por utilizar nuestro servicio para generar tu código QR personalizado! </h1>
            <p>Esperamos que hayas tenido una experiencia satisfactoria. Si necesitas generar más códigos QR en el futuro o tienes alguna otra necesidad relacionada con la generación de códigos, ¡estaremos encantados de ayudarte nuevamente!</p>
        </div>
        <h2>Aqui tienes tu codigo QR de: <%= tipoQR %></h2>
        <img draggable="false" src="<%= imageUrl %>" alt="Código QR">
        
        <a href="/download-qr?imageUrl=<%= imageUrl %>" class="btn btn-primary">Descargar código QR</a>

        
        </div>
    </section>
    <%- include('partials/footer') %>





<script>
  const downloadButton = document.getElementById('downloadButton');

  downloadButton.addEventListener('click', () => {
  window.location.href = '/download-qr';
});
</script>

</body>
</html>