<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleQRtexto.css">
    <%- include('../partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('../partials/navegacion') %>
    <%- include('../partials/hamburguesa') %>
    <section id="principal-texto">
      <form action="/generate-qr/pdf" method="post">
        <div class="codigo-generar">
          <label for="data">Introduce el pdf que quieras generar a codigo QR:</label>
          <input type="text" name="pdfUrl" id="data" required placeholder="PDF a generar">
        </div>
      <%- include('../partials/configuracionQR') %>

    
    </section>
    <%- include('../partials/footer') %>

    <%- include('../partials/script_parcial.ejs') %>
  </body>
</html>

