<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleQRtexto.css">
    <%- include('../partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('../partials/navegacion') %>
    <section id="principal-texto">
      <form action="/generate-qr/wifi" method="post">
        <div class="codigo-generar">
          <label for="ssid">Nombre de red (SSID):</label>
          <input type="text" name="ssid" id="ssid" required placeholder="Nombre de red">

          <label for="password">Contraseña:</label>
          <input type="password" name="password" class="inputTextoVistas"  id="password" required placeholder="Contraseña">

          <label for="encryption">Tipo de seguridad:</label>
          <select name="encryption" id="encryption" required>
          <option value="WPA">WPA</option>
          <option value="WPA2">WPA2</option>
          <option value="WEP">WEP</option>
        </select>
        </div>
        <%- include('../partials/configuracionQR') %>


  </section>
  <%- include('../partials/footer') %>

  <%- include('../partials/script_parcial.ejs') %>

  </body>
</html>