<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styleQRtexto.css">
    <%- include('../partials/links') %>
    <title>QR Arc</title>
  </head>
  <body>
    <%- include('../partials/navegacion') %>
    <%- include('../partials/hamburguesa') %>
    <section id="principal-texto">
      
        <h1>Codigo QR para texto</h1>
        <form action="/edit/:tabla/:id" method="post">
            <div class="texto-generar">
              <% if (newQR.qr_tipo === 'texto') { %>
               
                <label for="data">Introduce el texto que quieras generar a codigo QR:</label>
                <input type="text" name="data" id="data" required placeholder="Texto a generar">
              
                <% } else if (newQR.qr_tipo === 'sms') { %>
                
                <label for="telefono">Num telefono:</label>
                <input type="text" name="telefono" id="telefono" required placeholder="Nombre de red">

                <label for="mensaje">Mensaje:</label>
                <input type="text" name="mensaje" class="inputTextoVistas"  id="mensaje" required placeholder="Contraseña">
<!-- 
                <label for="encryption">Tipo de seguridad:</label>
                <select name="encryption" id="encryption" required>
                <option value="WPA">WPA</option>
                <option value="WPA2">WPA2</option>
                <option value="WEP">WEP</option> -->

              <% } %>
            </div>
            <div id="anclas">
              <a href="#div-formas">Formas</a>
              <a href="#div-colores">Colores</a>
              <a href="#div-logo">Logo</a>
              <a href="#div-size">Tamaño</a>
            </div>
           <div class="todas-opciones" id="div-formas">
            <h1>Formas</h1>
            
            <div class="divopciones opcionBody">
              <h1>Forma del cuerpo</h1>
              <div class="forma-cuerpo div-reducido" id="divPrueba">
                <label for="opcion1" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/square.png" alt="Opción 1" id="imagen1">
                  <input type="radio" name="opcionBody" id="opcion1" value="square" class="hidden-radio">
                </label>
                <label for="opcion2" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/mosaic.png" alt="Opción 2">
                  <input type="radio" name="opcionBody" id="opcion2" value="mosaic">
                </label>
                <label for="opcion3" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/dot.png" alt="Opción 3">
                  <input type="radio" name="opcionBody" id="opcion3" value="dot">
                </label>
                <label for="opcion4" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/circle.png" alt="Opción 4">
                  <input type="radio" name="opcionBody" id="opcion4" value="circle">
                </label>
                <label for="opcion5" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/circle-zebra.png" alt="Opción 5">
                  <input type="radio" name="opcionBody" id="opcion5" value="circle-zebra">
                </label>
                <label for="opcion6" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/circle-zebra-vertical.png" alt="Opción 6">
                  <input type="radio" name="opcionBody" id="opcion6" value="circle-zebra-vertical">
                </label>
                <label for="opcion7" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/circular.png" alt="Opción 7">
                  <input type="radio" name="opcionBody" id="opcion7" value="circular">
                </label>
                <label for="opcion8" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/edge-cut.png" alt="Opción 8">
                  <input type="radio" name="opcionBody" id="opcion8" value="edge-cut">
                </label>
                <label for="opcion9" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/edge-cut-smooth.png" alt="Opción 9">
                  <input type="radio" name="opcionBody" id="opcion9" value="edge-cut-smooth">
                </label>
                <label for="opcion10" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/japnese.png" alt="Opción 10">
                  <input type="radio" name="opcionBody" id="opcion10" value="japnese">
                </label>
                <label for="opcion11" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/leaf.png" alt="Opción 11">
                  <input type="radio" name="opcionBody" id="opcion11" value="leaf">
                </label>
                <label for="opcion12" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/pointed.png" alt="Opción 12">
                  <input type="radio" name="opcionBody" id="opcion12" value="pointed">
                </label>
                <label for="opcion13" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/pointed-edge-cut.png" alt="Opción 13">
                  <input type="radio" name="opcionBody" id="opcion13" value="pointed-edge-cut">
                </label>
                <label for="opcion14" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/pointed-in.png" alt="Opción 14">
                  <input type="radio" name="opcionBody" id="opcion14" value="pointed-in">
                </label>
                <label for="opcion15" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/pointed-in-smooth.png" alt="Opción 156">
                  <input type="radio" name="opcionBody" id="opcion15" value="pointed-in-smooth">
                </label>
                <label for="opcion16" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/pointed-smooth.png" alt="Opción 16">
                  <input type="radio" name="opcionBody" id="opcion16" value="pointed-smooth">
                </label>
                <label for="opcion17" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/round.png" alt="Opción 17">
                  <input type="radio" name="opcionBody" id="opcion17" value="round">
                </label>
                <label for="opcion18" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/rounded-in.png" alt="Opción 18">
                  <input type="radio" name="opcionBody" id="opcion18" value="rounded-in">
                </label>
                <label for="opcion19" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/rounded-in-smooth.png" alt="Opción 19">
                  <input type="radio" name="opcionBody" id="opcion19" value="rounded-in-smooth">
                </label>
                <label for="opcion20" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/rounded-pointed.png" alt="Opción 20">
                  <input type="radio" name="opcionBody" id="opcion20" value="rounded-pointed">
                </label>
                <label for="opcion21" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/star.png" alt="Opción 21">
                  <input type="radio" name="opcionBody" id="opcion21" value="star">
                </label>
                <label for="opcion22" class="opcion-label">
                  <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/body/diamond.png" alt="Opción 22">
                  <input type="radio" name="opcionBody" id="opcion22" value="diamond">
                </label>
                <button type="button" id="botonFlotante">Ver más opciones</button>
        
              </div>
             </div>
        
            <div class="divopciones opcionEye">
              <h2>Forma del ojo</h2>
              <div class="forma-eye div-reducido" id="divPrueba2">
                <% for (let i = 0; i < 17; i++) { %>
                  <label for="opcionEye<%= i+1 %>" class="opcion-label">
                    <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/eye-frames/frame<%= i %>.png" alt="Opción <%= i+1 %>" id="imagen<%= i+1 %>">
                    <input type="radio" name="opcionEye" id="opcionEye<%= i+1 %>" value="frame<%= i %>">
                  </label>
                <% } %>
              <button type="button" id="botonFlotante2">Ver más opciones</button>
              </div>
            </div>
            <div class="divopciones opcionEyeBall">
              <h2>Forma de la bola del ojo</h2>
              <div class="forma-eyeBall div-reducido" id="divPrueba3">
                <% for (let i = 0; i < 17; i++) { %>
                  <label for="opcionEyeBall<%= i+1 %>" class="opcion-label">
                    <img draggable="false" src="https://www.qrcode-monkey.com/img/qr/eye-balls/ball<%= i %>.png" alt="Opción <%= i+1 %>" id="imagen<%= i+1 %>">
                    <input type="radio" name="opcionEyeBall" id="opcionEyeBall<%= i+1 %>" value="ball<%= i %>">
                  </label>
                <% } %>
                <button type="button" id="botonFlotante3">Ver más opciones</button>
        
            </div>
           </div>
        
           <div class="colores-qr divopciones" id="div-colores">
            <h2>Colores</h2>
              <div class="div-colores">
                <label for="bgColor">Color de fondo:</label>
            <input type="color" name="bgColor" id="bgColor" value="<%= newQR.bgColor %>"  data-picker="WKCP">
        
            <label for="bodyColor">Color del cuerpo:</label>
            <input type="color" name="bodyColor" id="bodyColor" value="<%= newQR.bodyColor %>">
              </div>
          </div>
           <div class="logo-qr divopciones" id="div-logo">
            <h2>Logo</h2>
            <label for="logoUrl">URL del logotipo:</label>
            <input type="url" name="logoUrl" id="logoUrl" value="<%= newQR.logoUrl %>">
            <!-- <input type="file" name="archivoQr" id=""> -->
          </div>
         <div class="size divopciones" id="div-size">
          <h2>Tamaño</h2>
          <input type="range" name="size" id="inpRange" min="200" max="2000" value="<%= newQR.size %>" oninput="actuValor()" />
          <span id="valorRango">400</span>
        </div>
        
        <button type="submit">Generar código QR</button>
        
         </form>

    
    </section>
    <%- include('../partials/footer') %>

    <%- include('../partials/script_parcial.ejs') %>
  </body>
</html>

