<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/decoracion_pags.css">
    <%- include('../partials/links') %>
    <title>Document</title>
</head>
<body>
    
    <%- include('../partials/navegacion') %>
    <%- include('../partials/hamburguesa') %>
    <section id="principal">
      <%- include('../partials/decoracion') %>
        <div id="todos-codigosqr" class="info-codigos">
          <h1>LOS QR MAS VOTADOS</h1>
          <div id="">
              <div class="div-codigosqr">
                <% resul_masvotados.forEach(item => { %>
                  <div class="imagenes-like-dislke">
                    <img draggable="false" src="<%= item.codigoqrURL %>"  alt="">
                    <div id="iconos">
                      <p><i class="fa-regular fa-thumbs-up"></i><p><%= item.likes %></p></p>
                      <p><i class="fa-regular fa-thumbs-down"></i><p><%= item.dislikes %></p></p>
                    </div>
                  </div>
                  <% }); %>
              </div>
          </div>
        </div>
  
      </section>
      <%- include('../partials/footer') %>

    </div>